<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fontColor</key>
		<dict>
			<key>r</key>
			<integer>20</integer>
			<key>g</key>
			<integer>20</integer>
			<key>b</key>
			<integer>20</integer>
			<key>a</key>
			<integer>255</integer>
		</dict>
		<key>bgImage</key>
		<string>bg0.png</string>
	</dict>
	<dict>
		<key>fontColor</key>
		<dict>
			<key>r</key>
			<integer>0</integer>
			<key>g</key>
			<integer>0</integer>
			<key>b</key>
			<integer>0</integer>
			<key>a</key>
			<integer>255</integer>
		</dict>
		<key>bgImage</key>
		<string>bg1.png</string>
	</dict>
	<dict>
		<key>fontColor</key>
		<dict>
			<key>r</key>
			<integer>0</integer>
			<key>g</key>
			<integer>0</integer>
			<key>b</key>
			<integer>0</integer>
			<key>a</key>
			<integer>255</integer>
		</dict>
		<key>bgImage</key>
		<string>bg2.png</string>
	</dict>
	<dict>
		<key>fontColor</key>
		<dict>
			<key>r</key>
			<integer>0</integer>
			<key>g</key>
			<integer>0</integer>
			<key>b</key>
			<integer>0</integer>
			<key>a</key>
			<integer>255</integer>
		</dict>
		<key>bgImage</key>
		<string>bg3.png</string>
	</dict>
	<dict>
		<key>fontColor</key>
		<dict>
			<key>r</key>
			<integer>0</integer>
			<key>g</key>
			<integer>0</integer>
			<key>b</key>
			<integer>0</integer>
			<key>a</key>
			<integer>255</integer>
		</dict>
		<key>bgImage</key>
		<string>bg4.png</string>
	</dict>
	<dict>
		<key>fontColor</key>
		<dict>
			<key>r</key>
			<integer>0</integer>
			<key>g</key>
			<integer>0</integer>
			<key>b</key>
			<integer>0</integer>
			<key>a</key>
			<integer>255</integer>
		</dict>
		<key>bgImage</key>
		<string>bg5.png</string>
	</dict>
	<dict>
		<key>fontColor</key>
		<dict>
			<key>r</key>
			<integer>0</integer>
			<key>g</key>
			<integer>0</integer>
			<key>b</key>
			<integer>0</integer>
			<key>a</key>
			<integer>255</integer>
		</dict>
		<key>bgImage</key>
		<string>bg6.png</string>
	</dict>
	<dict>
		<key>fontColor</key>
		<dict>
			<key>r</key>
			<integer>0</integer>
			<key>g</key>
			<integer>0</integer>
			<key>b</key>
			<integer>0</integer>
			<key>a</key>
			<integer>255</integer>
		</dict>
		<key>bgImage</key>
		<string>bg7.png</string>
	</dict>
	<dict>
		<key>fontColor</key>
		<dict>
			<key>r</key>
			<integer>0</integer>
			<key>g</key>
			<integer>0</integer>
			<key>b</key>
			<integer>0</integer>
			<key>a</key>
			<integer>255</integer>
		</dict>
		<key>bgImage</key>
		<string>bg8.png</string>
	</dict>
	<dict>
		<key>fontColor</key>
		<dict>
			<key>r</key>
			<integer>0</integer>
			<key>g</key>
			<integer>0</integer>
			<key>b</key>
			<integer>0</integer>
			<key>a</key>
			<integer>255</integer>
		</dict>
		<key>bgImage</key>
		<string>bg9.png</string>
	</dict>
	<dict>
		<key>fontColor</key>
		<dict>
			<key>r</key>
			<integer>235</integer>
			<key>g</key>
			<integer>235</integer>
			<key>b</key>
			<integer>235</integer>
			<key>a</key>
			<integer>255</integer>
		</dict>
		<key>bgImage</key>
		<string>bg10.png</string>
	</dict>
	<dict>
		<key>fontColor</key>
		<dict>
			<key>r</key>
			<integer>0</integer>
			<key>g</key>
			<integer>0</integer>
			<key>b</key>
			<integer>0</integer>
			<key>a</key>
			<integer>255</integer>
		</dict>
		<key>bgImage</key>
		<string>bg11.png</string>
	</dict>
	<dict>
		<key>fontColor</key>
		<dict>
			<key>r</key>
			<integer>235</integer>
			<key>g</key>
			<integer>235</integer>
			<key>b</key>
			<integer>235</integer>
			<key>a</key>
			<integer>255</integer>
		</dict>
		<key>bgImage</key>
		<string>bg12.png</string>
	</dict>
	<dict>
		<key>fontColor</key>
		<dict>
			<key>r</key>
			<integer>0</integer>
			<key>g</key>
			<integer>0</integer>
			<key>b</key>
			<integer>0</integer>
			<key>a</key>
			<integer>255</integer>
		</dict>
		<key>bgImage</key>
		<string>bg13.png</string>
	</dict>
	<dict>
		<key>fontColor</key>
		<dict>
			<key>r</key>
			<integer>0</integer>
			<key>g</key>
			<integer>0</integer>
			<key>b</key>
			<integer>0</integer>
			<key>a</key>
			<integer>255</integer>
		</dict>
		<key>bgImage</key>
		<string>bg14.png</string>
	</dict>
	<dict>
		<key>fontColor</key>
		<dict>
			<key>r</key>
			<integer>0</integer>
			<key>g</key>
			<integer>0</integer>
			<key>b</key>
			<integer>0</integer>
			<key>a</key>
			<integer>255</integer>
		</dict>
		<key>bgImage</key>
		<string>bg15.png</string>
	</dict>
	<dict>
		<key>fontColor</key>
		<dict>
			<key>r</key>
			<integer>0</integer>
			<key>g</key>
			<integer>0</integer>
			<key>b</key>
			<integer>0</integer>
			<key>a</key>
			<integer>255</integer>
		</dict>
		<key>bgImage</key>
		<string>bg16.png</string>
	</dict>
	<dict>
		<key>fontColor</key>
		<dict>
			<key>r</key>
			<integer>0</integer>
			<key>g</key>
			<integer>0</integer>
			<key>b</key>
			<integer>0</integer>
			<key>a</key>
			<integer>255</integer>
		</dict>
		<key>bgImage</key>
		<string>bg17.png</string>
	</dict>
	<dict>
		<key>fontColor</key>
		<dict>
			<key>r</key>
			<integer>0</integer>
			<key>g</key>
			<integer>0</integer>
			<key>b</key>
			<integer>0</integer>
			<key>a</key>
			<integer>255</integer>
		</dict>
		<key>bgImage</key>
		<string>bg18.png</string>
	</dict>
	<dict>
		<key>fontColor</key>
		<dict>
			<key>r</key>
			<integer>0</integer>
			<key>g</key>
			<integer>0</integer>
			<key>b</key>
			<integer>0</integer>
			<key>a</key>
			<integer>255</integer>
		</dict>
		<key>bgImage</key>
		<string>bg19.png</string>
	</dict>
	<dict>
		<key>fontColor</key>
		<dict>
			<key>r</key>
			<integer>0</integer>
			<key>g</key>
			<integer>0</integer>
			<key>b</key>
			<integer>0</integer>
			<key>a</key>
			<integer>255</integer>
		</dict>
		<key>bgImage</key>
		<string>bg20.png</string>
	</dict>
	<dict>
		<key>fontColor</key>
		<dict>
			<key>r</key>
			<integer>0</integer>
			<key>g</key>
			<integer>0</integer>
			<key>b</key>
			<integer>0</integer>
			<key>a</key>
			<integer>255</integer>
		</dict>
		<key>bgImage</key>
		<string>bg21.png</string>
	</dict>
	<dict>
		<key>fontColor</key>
		<dict>
			<key>r</key>
			<integer>0</integer>
			<key>g</key>
			<integer>0</integer>
			<key>b</key>
			<integer>0</integer>
			<key>a</key>
			<integer>255</integer>
		</dict>
		<key>bgImage</key>
		<string>bg22.png</string>
	</dict>
	<dict>
		<key>fontColor</key>
		<dict>
			<key>r</key>
			<integer>0</integer>
			<key>g</key>
			<integer>0</integer>
			<key>b</key>
			<integer>0</integer>
			<key>a</key>
			<integer>255</integer>
		</dict>
		<key>bgImage</key>
		<string>bg23.png</string>
	</dict>
</array>
</plist>
