<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fontColor</key>
		<dict>
			<key>r</key>
			<integer>245</integer>
			<key>g</key>
			<integer>245</integer>
			<key>b</key>
			<integer>245</integer>
			<key>a</key>
			<integer>255</integer>
		</dict>
		<key>bgImage</key>
		<string>bkg0.png</string>
	</dict>
	<dict>
		<key>fontColor</key>
		<dict>
			<key>r</key>
			<integer>235</integer>
			<key>g</key>
			<integer>235</integer>
			<key>b</key>
			<integer>235</integer>
			<key>a</key>
			<integer>255</integer>
		</dict>
		<key>bgImage</key>
		<string>bkg1.png</string>
	</dict>
	<dict>
		<key>fontColor</key>
		<dict>
			<key>r</key>
			<integer>0</integer>
			<key>g</key>
			<integer>0</integer>
			<key>b</key>
			<integer>0</integer>
			<key>a</key>
			<integer>255</integer>
		</dict>
		<key>bgImage</key>
		<string>bkg2.png</string>
	</dict>
	<dict>
		<key>fontColor</key>
		<dict>
			<key>r</key>
			<integer>255</integer>
			<key>g</key>
			<integer>255</integer>
			<key>b</key>
			<integer>255</integer>
			<key>a</key>
			<integer>255</integer>
		</dict>
		<key>bgImage</key>
		<string>bkg3.png</string>
	</dict>
	<dict>
		<key>fontColor</key>
		<dict>
			<key>r</key>
			<integer>255</integer>
			<key>g</key>
			<integer>255</integer>
			<key>b</key>
			<integer>255</integer>
			<key>a</key>
			<integer>255</integer>
		</dict>
		<key>bgImage</key>
		<string>bkg4.png</string>
	</dict>
	<dict>
		<key>fontColor</key>
		<dict>
			<key>r</key>
			<integer>0</integer>
			<key>g</key>
			<integer>0</integer>
			<key>b</key>
			<integer>0</integer>
			<key>a</key>
			<integer>255</integer>
		</dict>
		<key>bgImage</key>
		<string>bkg5.png</string>
	</dict>
	<dict>
		<key>fontColor</key>
		<dict>
			<key>r</key>
			<integer>0</integer>
			<key>g</key>
			<integer>0</integer>
			<key>b</key>
			<integer>0</integer>
			<key>a</key>
			<integer>255</integer>
		</dict>
		<key>bgImage</key>
		<string>bkg6.png</string>
	</dict>
	<dict>
		<key>fontColor</key>
		<dict>
			<key>r</key>
			<integer>0</integer>
			<key>g</key>
			<integer>0</integer>
			<key>b</key>
			<integer>0</integer>
			<key>a</key>
			<integer>255</integer>
		</dict>
		<key>bgImage</key>
		<string>bkg7.png</string>
	</dict>
	<dict>
		<key>fontColor</key>
		<dict>
			<key>r</key>
			<integer>0</integer>
			<key>g</key>
			<integer>0</integer>
			<key>b</key>
			<integer>0</integer>
			<key>a</key>
			<integer>255</integer>
		</dict>
		<key>bgImage</key>
		<string>bkg8.png</string>
	</dict>
	<dict>
		<key>fontColor</key>
		<dict>
			<key>r</key>
			<integer>0</integer>
			<key>g</key>
			<integer>0</integer>
			<key>b</key>
			<integer>0</integer>
			<key>a</key>
			<integer>255</integer>
		</dict>
		<key>bgImage</key>
		<string>bkg9.png</string>
	</dict>
	<dict>
		<key>fontColor</key>
		<dict>
			<key>r</key>
			<integer>0</integer>
			<key>g</key>
			<integer>0</integer>
			<key>b</key>
			<integer>0</integer>
			<key>a</key>
			<integer>255</integer>
		</dict>
		<key>bgImage</key>
		<string>bkg10.png</string>
	</dict>
	<dict>
		<key>fontColor</key>
		<dict>
			<key>r</key>
			<integer>0</integer>
			<key>g</key>
			<integer>0</integer>
			<key>b</key>
			<integer>0</integer>
			<key>a</key>
			<integer>255</integer>
		</dict>
		<key>bgImage</key>
		<string>bkg11.png</string>
	</dict>
	<dict>
		<key>fontColor</key>
		<dict>
			<key>r</key>
			<integer>235</integer>
			<key>g</key>
			<integer>235</integer>
			<key>b</key>
			<integer>235</integer>
			<key>a</key>
			<integer>255</integer>
		</dict>
		<key>bgImage</key>
		<string>bkg12.png</string>
	</dict>
	<dict>
		<key>fontColor</key>
		<dict>
			<key>r</key>
			<integer>0</integer>
			<key>g</key>
			<integer>0</integer>
			<key>b</key>
			<integer>0</integer>
			<key>a</key>
			<integer>255</integer>
		</dict>
		<key>bgImage</key>
		<string>bkg13.png</string>
	</dict>
</array>
</plist>
