<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ShareDescription</key>
	<string>在一个拥有神奇能量的大陆，魔法师制造了一个强大的石屋，它维护着这片大陆能量平衡，但是有一股邪恶的势力从黑暗中出现，它们的目的是破坏石屋，获得大陆的控制权，年轻的勇士你得使命是守护石屋，击退来势汹涌的敌人，你准备好了吗？</string>
	<key>ShareTitle</key>
	<string>小心贼</string>
	<key>ShareContent</key>
	<string>保卫石屋</string>
	<key>Music</key>
	<string>音乐</string>
	<key>Effect</key>
	<string>音效</string>
</dict>
</plist>
